<!DOCTYPE html>

<html>
	<head>

		<link rel="stylesheet" href="http://noise.fmdj.fr/assets/foundation/css/normalize.css"></link>
		<link rel="stylesheet" href="http://noise.fmdj.fr/assets/foundation/css/foundation.min.css"></link>
		
		<link rel="stylesheet" href="/css/main.css"></link>




		<script src="http://noise.fmdj.fr/assets/foundation/js/vendor/custom.modernizr.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/vendor/zepto.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/foundation/foundation.js"></script>
		<script src="http://noise.fmdj.fr/assets/kinetic.min.js"></script>
		<script src="/js/vendor/angular.js"></script>

		<script src="/js/solfege.js"></script>
		<script src="/js/kinetic/util.js"></script>
		<script src="/js/components.js"></script>
		<script src="/js/song.js"></script>
		<script src="/js/track.js"></script>

		<script src="/js/pattern/view.js"></script>

		<style type="text/css">
			div#pattern-view-container
			{
				overflow: auto;
				max-height: 400px;
			}
		</style>

	</head>

	<body ng-app>
		<div class="row">
			<div class="large-12 columns">
				<div id="pattern-view-container">
				</div>
			</div>
		</div>


		<script type="text/javascript">
			var song;

			var songs = JSON.parse(localStorage.getItem('songs'));
			for(var s in songs)
			{
				song = Song.deserialize(songs[s]);
				break;
			}

			var patternView = new PatternView({
				container: 'pattern-view-container',
				model: song.tracks['default']
			});

		</script>



	</body>
</html>