<html>

	<head>
		<link rel="stylesheet" href="http://noise.fmdj.fr/assets/foundation/css/normalize.css"></link>
		<link rel="stylesheet" href="http://noise.fmdj.fr/assets/foundation/css/foundation.min.css"></link>
		<script src="http://noise.fmdj.fr/assets/kinetic.min.js"></script>
		<script src="http://noise.fmdj.fr/assets/angular.min.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/vendor/jquery.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/vendor/custom.modernizr.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/foundation/foundation.js"></script>
		<script src="http://noise.fmdj.fr/assets/foundation/js/foundation/foundation.forms.js"></script>

		<script src="/js/solfege.js"></script>
		<script src="/js/song.js"></script>
		<script src="/js/scrollBar.js"></script>
		<script src="/js/track.js"></script>
		<script src="/js/patternView.js"></script>
		<script src="/js/sequencerView.js"></script>

		<link rel="stylesheet" href="/css/main.css"></link>


		<style type="text/css">
			div#pattern
			{
				height:400px;
				border:1px solid #CCC;
				margin:5px;
			}
			div#sequencer
			{
				height:400px;
				border:1px solid #CCC;
				margin:5px;
			}
		</style>
	</head>

	<body>
		<div id="pattern">
		</div>
		<div id="sequencer">
		</div>


		<script type="text/javascript">
			
			var patternStage = new Kinetic.Stage({
				container: 'pattern',
				width: $('#pattern').innerWidth(),
				height: $('#pattern').innerHeight(),
			});

			var sequencerStage = new Kinetic.Stage({
				container: 'sequencer',
				width: $('#sequencer').innerWidth(),
				height: $('#sequencer').innerHeight(),
			});

			var song = new Song({
				tracks: [new Track({name: "Piano"}), new Track({name: "Guitar"}), new Track({name: "Bass"})]
			});

			//song = Song.deserialize(song.serialize());

			var patternView = new PatternView({
				stage: patternStage,
				width: patternStage.getWidth(),
				height: patternStage.getHeight(),
			});


			var sequencerView = new SequencerView({
				stage: sequencerStage,
				width: sequencerStage.getWidth(),
				height: sequencerStage.getHeight(), 
				song: song,
				patternView: patternView
			});

		</script>

	</body>
</html>