div#instrument
{
	border:1px solid #ccc;
	background-color: #FEFEFE;
}

body
{
	margin-top: 20px;
}

textarea#score
{
	min-height: 200px;
}

.center
{
	text-align: center;
}

select.inline
{
	width: auto;
}

div.preset
{
	margin:3px;
	padding:1px;
	border:1px solid black;
	border-radius: 3px;
	background-color: #FBFBFB;
}

div.preset.active_true
{
	background-color: yellow;
}

div.preset-actions
{
	float:right;
}

div.preset-actions
{
	font-size: 0.9em;
}

div.preset-actions a
{
}

.nomargin
{
	margin: 0px;
}

.no-margin-bottom
{
	margin-bottom: 0px;
}

form.custom .custom.dropdown.no-margin-bottom
{
	margin-bottom: 0px;
}

.nopadding
{
	padding: 0;
}

button#new-preset
{
	margin-top: 5px;
	margin-left:3px;
}

div.settings label
{
	font-size: 1em;
}

select.zurb
{
	height: 33px;
	background-color: #CCC;
	border-color: #BBB;
}

span.date
{
	font-size: 0.5em;
	font-size: 0.7vw;
}

div.pattern-history
{
	border: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 5px;
}

div.pattern-history:hover
{
	cursor: pointer;
	background-color: #D6FBFF;
}

div.pattern-history a
{
	font-size: 0.7em;
}

div#pattern-history-container
{
	max-height: 400px;
	overflow-y: auto;
}