span.gentle-warning
{
	display: block;
	margin: 0px 0px 10px 0px;
	color: rgb(255, 112, 0);
}

button.postfix
{
	padding: 0px;
}

select.infix
{
	margin:0;
	height:32px;
	border: 1px solid #ccc;
}


div#instrument
{
	border:1px solid #ccc;
	background-color: #FEFEFE;
}

body
{
}

textarea#score
{
	min-height: 200px;
}

.center
{
	text-align: center;
}

select.inline
{
	width: auto;
}

div.preset
{
	margin:3px;
	padding:1px;
	border:1px solid black;
	border-radius: 3px;
	background-color: #FBFBFB;
}

div.preset.active_true
{
	background-color: yellow;
}

div.preset-actions
{
	float:right;
}

div.preset-actions
{
	font-size: 0.9em;
}

div.preset-actions a
{
}

.nomargin, input.nomargin
{
	margin: 0px;
}

.nopadding
{
	padding: 0;
}

button#new-preset
{
	margin-top: 5px;
	margin-left:3px;
}

div.settings label
{
	font-size: 1em;
}

select.zurb
{
	height: 33px;
	background-color: #CCC;
	border-color: #BBB;
}

span.date
{
	font-size: 0.5em;
	font-size: 0.7vw;
}


div#pattern-view-container, div#sequencer-view-container
{
	overflow: auto;
}


div#sequencer-track-handles-container
{
	overflow: hidden;
}

div.pattern-history, div.sequencer-history
{
	border: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 5px;
	background-color: white;
}

div.pattern-history:hover, div.sequencer-history:hover
{
	cursor: pointer;
	background-color: #D6FBFF;
}

div.pattern-history.selected, div.sequencer-history.selected
{
	border: 1px solid black;
}

div#pattern-history-container, div#sequencer-history-container
{
	overflow-y: auto;
}

div.pattern
{
	height: 400px;
}	

div.sequencer
{
	height: 300px;
}

div#sequencer-row
{
	margin-top: 10px;
}

div.track-handle
{
	border: 1px solid #ccc;
	padding: 3px;
}

div.track-handle:not(:first-child)
{
	border-top: 0px;
}

div.track-handle.active
{
	background-color: #CCC;
}

div.track-handle.over
{
	background-color: #BBB;
}

.hidden
{
	display: none;
}

.not-hidden
{
	display: inherit;
}

div.postfix-img-holder
{
}

div.postfix-img-holder div
{
}

div.postfix-img-holder img
{
	padding-left: 2px;
}

.clickable
{
	cursor: pointer;
}